# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# ENV
# ======================
.env
.env.*
!.env.example

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# Node
# ======================
node_modules/
.pnpm-store/

# ======================
# Build
# ======================
dist/
build/
.next/
coverage/
out/

# ======================
# Cache
# ======================
.cache/
tmp/
.temp/

# ======================
# Uploads
# ======================
uploads/
storage/

# ======================
# Database
# ======================
*.sqlite
*.db

# ======================
# Redis
# ======================
dump.rdb

# ======================
# Flutter
# ======================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/

# ======================
# Android
# ======================
**/android/.gradle/
**/android/app/build/

# ======================
# IOS
# ======================
**/ios/Pods/
**/ios/.symlinks/

# ======================
# Docker
# ======================
docker-data/

# ======================
# Kubernetes
# ======================
*.kubeconfig

# ======================
# Secrets
# ======================
secrets/
*.pem
*.key

# ======================
# Generated
# ======================
generated/